* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

#main-table{
    position: relative;
    width: 50%;
    margin: 20px auto;
    border: solid black;
}

td{
    border: solid 1px black;
    text-align: center;
}

.edit-mode{
    display: block;
    position: absolute;
    right: -20em;
    top: 20px;
}

.active{
    border: solid 3px red;

}

textarea{
    width: 100%;
}